.parkList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .parkList {
    grid-template-columns: 1fr;
  }
}

.parkListItem {
  margin: 0;
}

.parkListItem::before {
  display: none;
}

.parkLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: var(--background-accent);
  border-radius: 8px;
  padding: 16px;
  border-color: transparent;
}
