.header {
  background-color: var(--background-accent);
  padding: 16px;
}

.header a {
  border-color: transparent;
}

.logo {
  image-rendering: pixelated;
}

.headerContents {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .headerContents {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.linkList {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  margin: 0;
  padding: 0;
}
