.abbr {
  position: relative;
}

.abbrPopup {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  width: max-content;
  max-width: 330px;
  background-color: var(--background-highlight);
  color: #fff;
  border: 1px solid var(--separator-color);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  padding: 8px;
  padding-left: 16px;
  font-size: 1rem;
}

.abbrPopup::before {
  content: '';
  background: var(--rainbow-vertical);
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.abbr:hover .abbrPopup,
.abbr:focus .abbrPopup {
  display: block;
}
