.keyAndPresets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  margin: 32px 0;
}

.keyAndPresets > div {
  padding: 16px;
  border: 1px solid #999;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .keyAndPresets {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
