.wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: var(--content-spacing);
}

.alignTop {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignBottom {
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .alignTop,
  .alignCenter,
  .alignBottom {
    align-items: center;
  }
}
