.mapInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parksAndPresets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin: 0;
  margin-bottom: 32px;
}

.parksAndPresets > div {
  padding: 16px;
  border: 1px solid #999;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .parksAndPresets {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
