.buttonGrid {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.item {
  width: 88px;
  height: 31px;
  display: inline;
  margin: 0;
  image-rendering: pixelated;
  border: none;
}
