.buttonGrid {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.horizontalButtons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 88px);
  gap: 8px;
  flex: 1;
}

.verticalButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  width: 88px;
  height: 31px;
  display: inline;
  margin: 0;
  image-rendering: pixelated;
  border: none;
  object-fit: contain;
}

.vertical {
  width: 31px;
  height: 88px;
}
