.buttonGridWrapper {
  display: grid;
  grid-template-columns: 1fr 31px;
  gap: 8px;
}

.buttonGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.item {
  width: 88px;
  height: 31px;
  display: inline;
  margin: 0;
  image-rendering: pixelated;
  border: none;
  object-fit: contain;
}

.vertical {
  width: 31px;
  height: 88px;
}
