.key {
  padding: 16px;
  border: 1px solid #999;
  border-radius: 8px;
}

.heading {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.item::before {
  display: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.swatch {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.itemName {
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
